body {
  margin: 0;
  background-color: #00b6e3;
  font-family: neuzeit-grotesk;
  color: #444444;
}
h1 {
  font-size: 1.8em;
  font-weight: 400;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.flip-life {
  margin-top: 80px;
}
.primary_bg {
  background-color: #444444;
  color: #fff;
}
.secondary_bg {
  background-color: #ea4c89;
  color: #fff;
}
.info_bg {
  background-color: #00b6e3;
  color: #fff;
}
.warning_bg {
  background-color: #ff8833;
  color: #fff;
}
.default_white {
  background-color: #fff;
  color: #444444;
}
